PORT=
MONGO_URI=''
JWT_SECRET=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRATION="20m"
REFRESH_TOKEN_EXPIRATION="30d"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
CLIENT_URL=""